<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <title>LinguaSignans</title>
  <link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:100, 500">
</head>
<body>
  <div class="container">
    <div class="menu">
      <ul>
        <li><a href="{{ url_for('home_page') }}" class="detect-btn">Home</a></li>
        <li>Detector</li>
        <li><a href="https://github.com/hermmyw/LinguaSignans-ASL-Detection-System" class="detect-btn">Source</a></li>
        <li>Contact Us</li>
      </ul>
    </div>
    <div class="detectorcontainer">
      <div class="gesturecontainer">
        <img class="gesture" src="{{ url_for('static',filename='gestures.jpg') }}">
      </div>
      <div class="videocontainer">
        <p>Start by placing your hand in the bounded box.</p>
        <img class="videosrc" src="{{ url_for('video_feed') }}">
        <p>Try to hold each gesture for at least 3 seconds.</p>
      </div>
    </div>
  </div>
</body>
</html>